---
import type { CollectionEntry } from "astro:content";
import type { Page } from "astro";

import ListPostCover from "@/components/ListPostCover.astro";
import Link from "../components/Link.astro";
import Pagination from "../components/Pagination.astro";
import RootLayout from "./RootLayout.astro";
import Tag from "../components/Tag.astro";

import { useTranslations } from "@/i18n";
import Card from "@/components/Card.astro";
const t = useTranslations();


interface Props {
  title?: string;
  description?: string;
  titleTemplate?: string;
  page?: Page<CollectionEntry<"blog">>;
  robots?: string;
}

const { title, description, page, robots, titleTemplate } = Astro.props;
const hasDefaultSlot = Astro.slots.has("default");
---

<RootLayout {title} {description} {robots} {titleTemplate}>
  
  
  <div class="divide-y divide-gray-200 dark:divide-gray-700">
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
      <h1
        class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
      >
        {t("pages.projects.allProjects")}
      </h1>
      <!-- <p class="text-lg leading-7 text-gray-500 dark:text-gray-400">
        {t("pages.projects.showcase")}
      </p> -->
    </div>
    <div class="container py-12">
      <div class="-m-4 flex flex-wrap">
        {
          page.data.map((d) => (
             <Card
              title={d.data.title ?? d.id.replace("/Readme.md", "")}
              description={d.description ?? ""}
              imgSrc={d.data.img ? `/content/project/${d.id.replace("/Readme.md", "")}/${d.data.img}` : "https://placeholder.com/500x190"}
              href={`/project/${d.slug}`}
            />
          ))
        }
      </div>
    </div>
  </div>


  {(page.url.next || page.url.prev) && <Pagination page={page} />}
</RootLayout>
